---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-back"><a href="blog.html" class="noCrossRef">← All posts</a></p>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      {% if page.tags != null %}
      {% assign projectTags = site.data.tags.allowed-tags %}
      {% for tag in page.tags %}
      {% if projectTags contains tag %}
      &nbsp;<a href="{{ "tag_" | append: tag | append: ".html" }}" class="post-meta-tag noCrossRef">{{ tag }}</a>
      {% endif %}
      {% endfor %}
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.summary %}
    <div class="summary">{{ page.summary }}</div>
    {% endif %}

    {{ content }}
  </div>

  <div class="post-footer-nav">
    <a href="blog.html" class="noCrossRef">← Back to all posts</a>
  </div>

</article>

{% include footer.html %}
